################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Personal Portfolio/.vs/Personal Portfolio
bin
obj
/Personal Portfolio/appsettings.development.json
