<header>
	<div class="row">

		<div class="top-bar">
			<a class="menu-toggle" href="#"><span>Menu</span></a>

			<div class="logo">
				<a href="Home">
					KARDS
				</a>
			</div>

			<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-controller="Home" asp-action="About">About</a></li>
					<li><a asp-controller="Home" asp-action="Resume">Resume</a></li>
					<li><a asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
					<li><a asp-controller="Home" asp-action="Services">Professional Qualities</a></li>
					<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
				</ul>
			</nav>
		</div> <!-- /top-bar -->

	</div> <!-- /row -->
</header> <!-- /header -->