<footer>
	<div class="row">

		<div class="col-six tab-full pull-right social">

			<div class="footer-social">
				@await Component.InvokeAsync("SocialMediaLinks", new { cssClass = "footer-social" })
			</div>

		</div>

	</div> <!-- /row -->
</footer>