@{
	ViewData["Title"] = "Professional Qualities";
}
<section id="services">

	<div class="overlay"></div>

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Professional Qualities</h5>
			<h1>Why Me?</h1>

			<p class="lead">Along with my techical skills I take pride in my professional qualities. These qualities are parts of my personality that make me a great employee and student. </p>

		</div>
	</div> <!-- /section-intro -->

	<div class="row services-content">

		<div id="owl-slider" class="owl-carousel services-list">

			<div class="service">

				<span class="icon"><i class="icon-wrench"></i></span>

				<div class="service-content">

					<h3>Hard Work</h3>

					<p class="desc">
						I am a dedicated and hardworking individual, consistently striving for excellence in all aspects of my life. I work tirelessly to be the best I can be, always putting in full effort and continuously seeking ways to improve and excel in everything I undertake.
					</p>

				</div>

			</div> <!-- /service -->

			<div class="service">

				<span class="icon"><i class="icon-light-bulb"></i></span>

				<div class="service-content">

					<h3>Problem Solving</h3>

					<p class="desc">
						The satisfaction of overcoming challenging tasks drives my passion for problem-solving. I approach problems creatively, finding innovative solutions while effectively communicating my ideas with others. My ability to dissect problems and collaborate makes me a reliable and efficient problem solver.
					</p>

				</div>

			</div> <!-- /service -->

			<div class="service">

				<span class="icon"><i class="icon-book"></i></span>

				<div class="service-content">

					<h3>Learning</h3>

					<p class="desc">
						My ability to absorb and apply information quickly enables me to stay ahead in the ever-evolving world of technology. In a field where change is the only constant, continuous learning is essential to keep up with new advancements and innovations. Embracing lifelong learning ensures that I can adapt, grow, and contribute effectively to any technological landscape.
					</p>

				</div>

			</div> <!-- /service -->

		</div> <!-- /services-list -->

	</div> <!-- /services-content -->

</section> <!-- /services -->