@model List<Personal_Portfolio.Models.SocialMediaInfo>

<ul class="footer-social">
    @foreach (var link in Model)
    {
        <li><a href="@link.Url"><i class="@link.IconClass"></i></a></li>
    }
</ul>
