@{
	ViewData["Title"] = "About"; 
}

<section id="about">

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>About</h5>
			<h1>Let me introduce myself.</h1>

			<div class="intro-info">

				<img src="~/images/headshot.png" alt="Profile Picture">

				<p class="lead">Hey, i'm Brody! I'm currently a software engineering intern in Appleton, WI. I just completed my first year of college at the University Of Wisconsin-Madison majoring in computer science. I hope to someday be a full-time software engineer!</p>
			</div>

		</div>
	</div> <!-- /section-intro -->

	<div class="row about-content">

		<div class="col-six tab-full">

			<h3>Profile</h3>
			<p>Here is a little more info about me. If you want to reach out you can find me at my provided email below or by filling out the contact form at the end of the website.</p>

			<ul class="info-list">
				<li>
					<strong>Fullname:</strong>
					<span>Brody Van Eperen</span>
				</li>
				<li>
					<strong>Birth Date:</strong>
					<span>January 31, 2005</span>
				</li>
				<li>
					<strong>Job:</strong>
					<span>Software Engineering Intern and Student</span>
				</li>
				<li>
					<strong>Website:</strong>
					<span>www.kardswebsite.com</span>
				</li>
				<li>
					<strong>Email:</strong>
					<span>bvaneperen@wisc.edu</span>
				</li>

			</ul> <!-- /info-list -->

		</div>

		<div class="col-six tab-full">

			<h3>Skills</h3>
			<p>Here is a quick overview of some of my skills. I am very new to and still learning about web development. I love learning and hope to fill all these bars soon.</p>

			<ul class="skill-bars">
				<li>
					<div class="progress percent40"><span>40%</span></div>
					<strong>HTML5</strong>
				</li>
				<li>
					<div class="progress percent40"><span>40%</span></div>
					<strong>CSS3</strong>
				</li>
				<li>
					<div class="progress percent85"><span>85%</span></div>
					<strong>Java</strong>
				</li>
				<li>
					<div class="progress percent50"><span>50%</span></div>
					<strong>C#</strong>
				</li>
				<li>

					<div class="progress percent45"><span>45%</span></div>
					<strong>ASP.NET</strong>
				</li>

			</ul> <!-- /skill-bars -->

		</div>

	</div>

</section> <!-- /process-->