@{
	ViewData["Title"] = "Portfolio";
}
<section id="portfolio">

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Portfolio</h5>
			<h1>Check Out Some of My Works.</h1>

			<p class="lead">Here is a quick look at some of my projects. Click on them for more details, or contact me if you have questions about them.</p>

		</div>
	</div> <!-- /section-intro-->

	<div class="row portfolio-content">

		<div class="col-twelve">

			<!-- portfolio-wrapper -->
			<div id="folio-wrapper" class="block-1-2 block-mob-full stack">

				<div class="bgrid folio-item">
					<div class="item-wrap">
						<img src="~/images/portfolio/portfolioImage.png" alt="Personal Website">
						<a href="#modal-01" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Personal Website</h3>
									<span class="folio-types">
										C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio
									</span>
								</div>
							</div>
						</a>
					</div>
				</div> <!-- /folio-item -->

				<div class="bgrid folio-item">
					<div class="item-wrap">
						<img src="~/images/portfolio/Spotify.png" alt="Spotify App">
						<a href="#modal-02" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Spotify App</h3>
									<span class="folio-types">
										C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio JS API
									</span>
								</div>
							</div>
						</a>
					</div>
				</div> <!-- /folio-item -->


				<div class="bgrid folio-item">
					<div class="item-wrap">
						<img src="~/images/portfolio/Nhl.png" alt="NHL App">
						<a href="#modal-03" class="overlay">
							<div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Nhl App</h3>
									<span class="folio-types">
										C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio API
									</span>
								</div>
							</div>
						</a>
					</div>
				</div> <!-- /folio-item -->

				<!-- modal popups - begin
				============================================================= -->
				<div id="modal-01" class="popup-modal slider mfp-hide">

					<div class="slideshow-container" data-slideshow="1">
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage.png" alt="Portfolio Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage2.png" alt="Portfolio Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage3.png" alt="Portfolio Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage4.png" alt="Portfolio Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage5.png" alt="Portfolio Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/portfolioImage6.png" alt="Portfolio Image" style="width:100%">
						</div>

						<a class="prev" onclick="plusSlides(-1, 'modal-01')">&#10094;</a>
						<a class="next" onclick="plusSlides(1, 'modal-01')">&#10095;</a>
					</div>
					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1, 'modal-01')"></span>
						<span class="dot" onclick="currentSlide(2, 'modal-01')"></span>
						<span class="dot" onclick="currentSlide(3, 'modal-01')"></span>
						<span class="dot" onclick="currentSlide(4, 'modal-01')"></span>
						<span class="dot" onclick="currentSlide(5, 'modal-01')"></span>
						<span class="dot" onclick="currentSlide(6, 'modal-01')"></span>
					</div>
					<br>

					<div class="description-box">
						<h4>Personal Portfolio</h4>
						<p>Created a custom webpage using ASP.NET Core</p>

						<div class="categories">C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio</div>
					</div>

					<div class="link-box">
						<a href="https://github.com/bvaneperen32/Personal-Portfolio" target="_blank">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div> <!-- /modal-02 -->

				<div id="modal-02" class="popup-modal slider mfp-hide">

					<div class="slideshow-container" data-slideshow="2">

						<div class="mySlides fade">
							<img src="~/images/portfolio/Spotify.png" alt="Spotify Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/Spotify2.png" alt="Spotify Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/Spotify3.png" alt="Spotify Image" style="width:100%">
						</div>

						<a class="prev" onclick="plusSlides(-1, 'modal-02')">&#10094;</a>
						<a class="next" onclick="plusSlides(1, 'modal-02')">&#10095;</a>
					</div>
					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1, 'modal-02')"></span>
						<span class="dot" onclick="currentSlide(2, 'modal-02')"></span>
						<span class="dot" onclick="currentSlide(3, 'modal-02')"></span>
					</div>
					<br>

					<div class="description-box">
						<h4>Spotify App</h4>
						<p>Created a Spotify App using the spotify api. Used PKCE Authentiaction to get API access.</p>

						<div class="categories">C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio JS API</div>
					</div>

					<div class="link-box">
						<a href="https://github.com/bvaneperen32/SpotifyApp" target="_blank">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div> <!-- /modal-03 -->

				<div id="modal-03" class="popup-modal slider mfp-hide">

					<div class="slideshow-container" data-slideshow="3">

						<div class="mySlides fade">
							<img src="~/images/portfolio/Nhl.png" alt="Spotify Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/NHL2.png" alt="Spotify Image" style="width:100%">
						</div>
						<div class="mySlides fade">
							<img src="~/images/portfolio/NHL3.png" alt="Spotify Image" style="width:100%">
						</div>

						<a class="prev" onclick="plusSlides(-1, 'modal-03')">&#10094;</a>
						<a class="next" onclick="plusSlides(1, 'modal-03')">&#10095;</a>
					</div>
					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1, 'modal-03')"></span>
						<span class="dot" onclick="currentSlide(2, 'modal-03')"></span>
						<span class="dot" onclick="currentSlide(3, 'modal-03')"></span>
					</div>
					<br>

					<div class="description-box">
						<h4>NHL App</h4>
						<p>Created NHL standings and team details going back over 100 years using a free NHL API</p>

						<div class="categories">C#    Visual Studio    CSS    HTML    MVC    ASP.Net Core    SQL Server Managment Studio API</div>
					</div>

					<div class="link-box">
                        <a href="https://github.com/bvaneperen32/NhlStats" target="_blank">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div> <!-- /modal-01 -->
				<!-- modal popups - end
				============================================================= -->

			</div> <!-- /portfolio-wrapper -->

		</div>  <!-- /twelve -->

	</div> <!-- /portfolio-content -->

</section> <!-- /portfolio -->