@{
	ViewData["Title"] = "Resume";
}

<section id="resume" class="grey-section">

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Resume</h5>
			<h1>More of my credentials.</h1>

			<p class="lead">Learn more about my previous work expereince and education.</p>

		</div>
	</div> <!-- /section-intro-->

	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Work Experience</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>Driver</h3>
						<p>May 2023 - September 2023</p>
					</div>

					<div class="timeline-content">
						<h4>Jump Around Party Rentals</h4>
						<p>Delivered and set up bouncy houses and tents all over NorthEastern Wisconsin. I lead a team of 2-3 people and would communicate with customers in order to organize their rented producted to their desire.</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>Referee</h3>
						<p>March 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>Youth Lacrosse</h4>
						<p>I ref kids ages 8-14 in lacrosse. I am responsible for teaching the game while enforcing it at the same time. I am also responsible for making sure all parents in coaches understand my calls and authority in order to avoid conflicts</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>Software Engineering Intern</h3>
						<p>May 2024 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>Heartland Buisness Systems</h4>
						<p>Helped develop full stack web application solutions for customers of HBS.</p>
					</div>

				</div> <!-- /timeline-block -->

			</div> <!-- /timeline-wrap -->

		</div> <!-- /col-twelve -->

	</div> <!-- /resume-timeline -->

	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Education</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>High School Diploma</h3>
						<p>September 2019 - June 2023</p>
					</div>

					<div class="timeline-content">
						<h4>Kimberly High School</h4>
						<p>Graduated with a 4.6 GPA and in top 5% of my class. Was a member of National Honor Society. Varsity lacrosse and hockey team captain.</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>Bachelor Degree</h3>
						<p>September 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>University Of Wisconsin-Madison</h4>
						<p>Pursuing a bachelor degree in computer science, and a degree in data science. Completed freshman year with a 4.0 GPA and made the fall and spring dean's list. Also a member of the club lacrosse team.</p>
					</div>

				</div> <!-- /timeline-block -->

			</div> <!-- /timeline-wrap -->

		</div> <!-- /col-twelve -->

	</div> <!-- /resume-timeline -->

</section> <!-- /features -->